{% extends "base.html" %}

{% block content %}

<div class="container-fluid bg-dark text-white">
    <div class="p-5 mx-auto" style="width: 100%; text-align: center;">
      
    <h3 class="display-4">Add a comment</h3>
        
        
        <form class="d-flex" id="search-form" method="POST" action="">
    
            {{ form.hidden_tag() }}
            <div class="container" style="width: 65vw">
              
                <div class="container my-4">
                
                <p>
                {{ form.comment.label }}
                {{ form.comment() }}
                </p>
                
                </div>
            
            {{ form.submit() }}
          </div>  
          </form>
          
    <div class="container-fluid bg-dark text-white" style="height: 1000px;">
    </div>
</div>


{% endblock %}



