{% extends "base.html" %}

{% block content %}
<main role="main" class="container"style="height: 100vh;">

<div class="container-fluid bg-dark text-white">
    <div class="p-5 mx-auto" style="width: 100%; text-align: center;">
      
        <h3 class="display-4 d-lg-block">Welcome to Movie Search</h3>
        <hr class="my-4" />
        <div class="container">
            <div class="container my-4">
                <button class="btn btn-info"><a style="text-decoration: none; color: white" href="{{url_for('movie_search')}}">Search for Movies</a></button>
              </div>
        {% if current_user.is_authenticated %}    
          <div class="container my-4">
            <button class="btn btn-info"><a style="text-decoration: none; color: white" href="{{url_for('profile_page', user_id=current_user.id)}}">Your Favorites</a></button>
          </div>
        {% endif %}
        </div>
      
    </div>
  </div>    
</main>

{% endblock %}