{% extends "base.html" %}

{% block content %}
<main role="main" class="container"style="height: 100vh; opacity: 1; color: white">
    <div class="container-fluid py-4" style="width: 65vw; height: 25vh; text-align: center;">
        <form class="d-flex" id="search-form" method="POST" action="" novalidate>
            {{ form.hidden_tag() }}
            <div class="container" style="width: 75vw; margin-bottom:1000px">
            <div class="container my-4"> 
                <legend class="border-bottom mb-4">Enter in a search term to find a movie.</legend>

                    <p>{{ form.query() }}</p>
                    <p>{{ form.submit(class="btn btn-info") }}</p>
            </div>
            </div>
        </form>
    </div>

</main>
{% endblock %}