{% extends "base.html" %}

{% block content %}
<div class="container-fluid bg-dark text-white">
    <div class="p-5 mx-auto" style="width: 100%; text-align: center;">
      
    <!-- <h3 class="display-4">Welcome to Movie Search</h3> -->
        <p class="lead">Enter in any word and find all the movies that contain that word.</p>
        
    <form class="d-flex" id="search-form" method="POST" action="" novalidate>
        {{ form.hidden_tag() }}

        <!-- <p>Errors: {{ form.errors }}</p> -->
        
        <div class="container" style="width: 75vw; margin-bottom:1000px">
          
          <div class="container my-4">
            
                
                <p>{{ form.query() }}</p>
                <p>{{ form.submit() }}</p>
                
           
            
            <!-- <small style="color:red">
                {{ form.query.errors }}
            </small> -->
          </div>
        </div>

        

    </form>
</div>
</div>

    
{% endblock %}