{% extends "base.html" %}

{% block content %}
{% if not current_user.is_authenticated %} 
<div class="container-fluid bg-dark text-white">
    <div class="p-5 mx-auto" style="width: 100%; text-align: center;">
      
    <h3 class="display-4">Sign Up For a Movie Search Account</h3>
        <p class="lead">Be able to save your favorite movies for future reference.</p>
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group" style="width: 65vw">
                <legend class="border-bottom mb-4">Account Info</legend>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}

                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                
            
            
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </fieldset>
        </form>    
        </div>
    <!-- <form class="d-flex" id="search-form" method="POST" action="">
    
        {{ form.hidden_tag() }}
        <div class="container" style="width: 65vw">
          
            <div class="container my-4">
            <p>{{ form.username.label }}
                {{ form.username() }}</p>
            
            <p>
                {{ form.password.label }}
            {{ form.password() }}
            </p>
            
            </div>
        
        {{ form.submit() }}
    </div>  
    </form> -->
    <div class="container-fluid bg-dark text-white" style="height: 1000px;">
    </div>
{% endif %}
{% if current_user.is_authenticated %}  
<div class="p-5 mx-auto" style="width: 100%; text-align: center;">
    <h3 class="display-4">Welcome {{ current_user.name }}</h3>
    <div class="container my-4">
        <button class="btn btn-outline-success"><a style="text-decoration: none; color: white" href="{{url_for('movie_search')}}">Click Here to Search for Movies</a></button>
    </div>
    <div class="container my-4">
        <button class="btn btn-outline-success"><a style="text-decoration: none; color: white" href="{{url_for('profile_page', user_id=current_user.id)}}">Click Here to See a List of Your Favorite Movies</a></button>
      </div>
</div>
<div class="container-fluid bg-dark text-white" style="height: 1000px;">
</div>
{% endif %}

{% endblock %}