{% extends "base.html" %}

{% block content %}
{% if not current_user.is_authenticated %} 
<div class="container-fluid bg-dark text-white" >
    <div class="p-5 mx-auto" style="width: 100%; text-align: center; margin-bottom: 1000px;">
      
    <div class="row">
        <div class="col">
            <form id="search-form" method="POST" action="" >
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Sign In</legend>
                {{ form.hidden_tag() }}
                <div class="container" >
                
                    <div class="container ">
                    {{ form.username.label }}
                     <p>{{ form.username() }}</p>
                    
                    
                        {{ form.password.label }}
                    <p>{{ form.password() }}
                    </p>
                    
                    </div>
                
                {{ form.submit(class="btn btn-info") }}
            </div>  
            </fieldset>
            </form>
        
        
    </div>
    </div>
        
    
    </div>
    {% endif %}
    {% if current_user.is_authenticated %}  
    <div class="p-5 mx-auto" style="width: 100%; text-align: center;">
        <div class="container my-4">
            <button class="btn btn-outline-success"><a style="text-decoration: none; color: white" href="{{url_for('movie_search')}}">Click Here to Search for Movies</a></button>
        </div>
        <div class="container my-4">
            <button class="btn btn-outline-success"><a style="text-decoration: none; color: white" href="{{url_for('profile_page', user_id=current_user.id)}}">Click Here to See a List of Your Favorite Movies</a></button>
          
        </div>
    </div>
    
{% endif %}
{% endblock %}
