{% extends "base.html" %}

{% block content %}
{% if not current_user.is_authenticated %} 
<main role="main" class="container"style="height: 100vh; opacity: 1; color: white">
    <div class="container-fluid py-4" style="width: 65vw; height: 25vh; text-align: center;">   
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Sign Up For a Movie Search Account</legend>
                    {{ form.username.label(class="form-control-label") }}
                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p>{{ form.username() }}</p>
                    {% endif %}
                
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                       <p> {{ form.email() }}</p>
                    {% endif %}
               
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p>{{ form.password() }}</p>
                    {% endif %}
                
                    {{ form.submit(class="btn btn-info") }}
                
            </fieldset>
        </form>    
    </div>
</main>
    
{% endif %}
       
{% if current_user.is_authenticated %}  
<div class="p-5 mx-auto" style="width: 100%; text-align: center; margin-bottom: 1000px">
    <h3 class="display-4">Welcome {{ current_user.name }}</h3>
    <div class="container my-4">
        <button class="btn btn-info"><a style="text-decoration: none; color: white" href="{{url_for('movie_search')}}">Click Here to Search for Movies</a></button>
    </div>
    <div class="container my-4">
        <button class="btn btn-info"><a style="text-decoration: none; color: white" href="{{url_for('profile_page', user_id=current_user.id)}}">Click Here to See a List of Your Favorite Movies</a></button>
    </div>
</div>


{% endif %}

{% endblock %}