{% extends "base_display.html" %}

{% block content %}

    <ol>
        {% for user in users %}
            <li>
                <a href="{{ url_for('profile_page', user_id=user.id) }}">{{ user.name }}</a>
            </li>
            <ol>
                {% for movie in user.fav_movies %}
                   <li>
                       <a style="text-decoration: none; color: white" href="http://127.0.0.1:5000/movie/{{movie.movie_id}}"><h5>{{movie.title}}</h5> </a>
                   </li>
                {% endfor %}
            </ol>
        {% endfor %}

    </ol>

{% endblock %}